.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App.dark {
  background-color: #333;
  color: white;
}

.App.light {
  background-color: white;
  color: black;
}


.input-container {
  margin: 50px auto;
  width: 60%;
  max-width: 500px;
}


.weather-container {
  margin: 10px auto;
  padding: 1px;
  padding-right: 1px;
  padding-left: 1px;
  width: auto;
  max-width: 800px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1 {
  margin-bottom: 20px;
  color: #333;
}

.App.dark h1 {
  color: #00ff00; 
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  .input-container {
    width: 90%; 
    margin: 20px auto;
  }

  .weather-container {
    width: 90%; 
    padding: 15px;
  }

  h1 {
    font-size: 20px; 
    margin-bottom: 10px;
  }

  
  select, input, button {
    width: 100%; 
    padding: 12px;
    font-size: 16px; 
    margin-bottom: 10px;
  }

  .weather-container {
    padding: 10px; 
  }

  
  .weather-card {
    width: 100%; 
    margin-bottom: 15px;
  }
}

/* Large screen responsiveness */
@media (min-width: 769px) {
  .input-container {
    width: 60%; 
  }

  .weather-container {
    width: 80%; 
    max-width: 800px;
  }

  h1 {
    font-size: 28px; 
  }

  
  .weather-card {
    width: 45%; 
    margin-bottom: 20px;
  }

  .footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    border-top: 1px solid #ccc;
    margin-top: 30px; 
  }
  
  .footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  /* Light and Dark Mode Footer Styling */
  .footer.light {
    background-color: #f8f9fa;  
    color: #333;
  }
  
  .footer.dark {
    background-color: #333;  
    color: #f8f9fa;
  }
}